
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(morr.jpg);

}
:root{
    --maincolor:rgba(138, 10, 1, 0.665);
}
.video{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    
}
nav{
    background-color: var(--maincolor);
    display: flex;    
    position: relative; 
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
}

.facebooklogo,.twiterlogo,.instagramlogo{
    position: relative;
    width: 5vh;
    height: 5vh;
    display: flex;
    border: none;
    border-radius: 50%;
    margin: 3vh 1vh 0 1vh ;
}
.facebooklogo:hover,.twiterlogo:hover,.instagramlogo:hover{
    opacity: .5;
}
.forsearch{
    position: absolute;
    display: flex;
    width: 18%;
    height: 30%;
    top: 62%;
    left: 3.5%;
}
.searchlogo{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    outline: 2px solid black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}
.buttonofsearch{
    position: relative;
    display: flex;
    width: 13%;
    height: 96%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.search{
    background-color: transparent;
    outline: none;
    width: 0;
    border: none;
    font-size: 17px;
    transition: all 1s 0s ;
    -webkit-transition: all 1s 0s ;
    -moz-transition: all 1s 0s ;
    -ms-transition: all 1s 0s ;
    -o-transition: all 1s 0s ;
}
.forsearch:hover{
    background-color: black;
    border-radius: 60px;
    box-shadow: 0 0 10px black;
    .search{
        width: 100%;
        color: yellow;
    }
}
.forspace{
    height: 20vh;
    width: 5vh;
    background-color: transparent;
    position: relative;
    margin-left: 47%;
}

header{
    background-color: black;
    color: aliceblue;
    display: flex;
    position: sticky;
    top: 2%;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 3;
    margin-top: 10%;
    border-radius: 20px;
    margin-top: 5%;  
    font-weight: bold;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
li{
    list-style: none;
    padding: 15px;
    cursor: pointer;
}
.sub-menu{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.383);
    color: aliceblue !important;
}
li:hover{
    .sub-menu{
        display: block;
    }
    span{
        display: inline-block;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
}
   
}
ul li:hover{
    background-color: black;
    color: white;
    padding-left: 0;
    
}
.home:hover,.products:hover,.about:hover,.contact:hover{
    color: var(--maincolor);
}


.homeimg{
    display: flex;
    height: 50%;
    position:relative;
    width: 50px;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

span{
    display: inline-block;
    transform: rotate(90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.loginbutton{
    
    display: flex;
    position: absolute;
    left: 89%;
    top: 2%;
    width: 100px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: transparent;
    box-shadow: inset rgb(0, 0, 0) 0px 0px 10px ;
    
}
button:hover{
    background-color: azure;
}
button a{
    text-decoration: none;
    color: black;
}

article:not(.article3){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
article .article1, article.article2,article .article3{
    width: 40%;
}
.article1,.article2{
    display: flex;
    flex-flow: column wrap;
    width: 30%;

    
    
} 
.article3{
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    width: 30%;
}  
.article3 > img:nth-of-type(2){
    max-height: 50%;
    position: relative;
    left: 25%;
}
.article3 img:nth-of-type(1){
    margin-left: -25%;
}

.article1 img,.article2 img,.article3 img{
    border: 1px solid black;
    border-radius: 10px;
    max-width: 100%;
    margin-top: 10%;
}

.article1 img:hover,.article2 img:hover,.article3 img:hover{
    transform: translate(1%);
    box-shadow: 0px 0px 20px var(--maincolor);
}



.productsid::before,.productsid::after,.sellersid::before,.sellersid::after{
    content: "";
    left:0;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: black;
    transform: scaleX(0);
    transition: 1s ;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transition:transform 1s ;
    -moz-transition:transform 1s ;
    -ms-transition:transform 1s ;
    -o-transition:transform 1s ;
}
.productsid::before,.sellersid::before{
    top: -3px;
    transform-origin: left;
}
.productsid::after,.sellersid::after{
    bottom: -3px;
    transform-origin: right;
}

.productsid:hover::after,.productsid:hover::before,.sellersid:hover::after,.sellersid:hover::before{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
   
    
}

.productsid,.sellersid{
    position: relative;
    font-size: 60px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: solid black 2px;
    background-color: var(--maincolor);
    
}
.sellersid{
    margin-top: 5%;
}
.logomarhaba{
    position:relative;
    max-width: 100%;
    max-height: 100%;
    left: 30%;
    filter: brightness(110%);
    filter: blur(200%);
}

bdi{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 60px;
    left: 30%;
    background-image: linear-gradient(to left,black 20%,rgb(1, 96, 1) 80%);
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
    
}
.forsellers{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--maincolor);
}
.seller1{
    top: 5%;
    position: absolute;
    width: 25%;
    height: 50%;
    background:linear-gradient(white 20%,black 10%);
    text-align: center;
    color: yellow;
}

.seller1 > .photo{
    max-width: 30%;
    border: 5px solid black;
    border-radius: 50%;
    margin-top: 5%;
}





